[Desktop Entry]
Name=OpenEMSH
TryExec=openemsh
Exec=openemsh -G %f
Icon=openemsh
Type=Application
Comment=OpenEMS mesher draft
Categories=Education;Electronics;
